.grid {
    display: flex;
    flex-direction: row;
}

.item {
    margin-right: 9.5rem;
}

#button {
    font-family: 'Tropical Forest', sans-serif;
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 22px;
    height: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}

#button:hover{
    box-shadow: 0 0 0 0.15rem #5ceace;
}

#formCard {
    font-family: 'Tropical Forest', sans-serif;
    background-color: #cceefb;
    width: 25rem;
    height: 15rem;
    margin-left: 7rem;
}

.label {
    padding-top: 0.5rem;
    text-align: center;
}

.input {
    padding-top: 0.5rem;
    align-items: center;
    width: 20rem;
    margin-left: 2.5rem;
    border-radius: 5px;
}

#checkboxLabel {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

#checkboxInput {
    margin-left: 3.5rem;
    width: 1em;
	height: 1em;
}

#saveButton {
    position: absolute;
    right: 10px;
    margin-top: 1rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(88, 101, 242);
    transition: background-color .17s ease,color .17s ease;
}

#saveButton :hover {
    background-color: rgb(71, 82, 196);
}

#noNews {
    font-family: 'Tropical Forest', sans-serif;
    margin-left: 28rem;
    margin-top: 4rem;
}

#checkoxItem {
    margin-left: 1rem;
}

#news {
    width: 10rem;
    text-align: center;
    font-family: 'Tropical Forest', sans-serif;
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: 32rem;
    margin-bottom: 2rem;
}