#header {
    height: 6.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #81c5e0;
}

#name {
    text-align: center;
    font-family: 'Tropical Forest', sans-serif;
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-left: 2rem;
    border: 4px solid black;
    width: 25rem;
    padding: 10px;
}